* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-family: cursive;
}

@font-face {
    font-family: "Loopy";
    src: url("https://drive.google.com/file/d/15QGgUYSpA7583Fu7Z_EIaVBsTVbsMM-_/view?usp=sharing");
}

.disp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div p {
    color: white;
    font-size: 3rem;
}
div.date-disp p {
    color: white;
    font-size: 2rem;
}

div.main-container {
    height: 180px;
    width: 450px;
    border: 5px solid red;
    border-radius: 40px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
}

div.time-disp {
    height: 150px;
    width: 400px;
    font-family: "Loopy";
}

div.date-disp{
    height: 100px;
    width: 400px;
}

@media screen and (max-width:600px) {

    body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: burlywood;
        font-family: cursive;
    }

    div p {
        color: white;
        font-size: 2rem;
    }
    
    div.date-disp p {
        font-size: 1.3rem;
    }

    div.time-disp {
        height: 120px;
        width: 330px;
        font-family: "Loopy";
    }
    
    div.date-disp {
        height: 80px;
        width: 320px;
    }

    div.main-container {
        height: 150px;
        width: 350px;
        border: 5px solid red;
        border-radius: 40px;
        background-color: black;
        flex-direction: column;
        justify-content: center;
    }
}
